<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ExamenSemana2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2528A1BF1D89280A0067C4ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2528A1D31D89280B0067C4ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2528A1DE1D89280B0067C4ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
